*{
margin: 0px;

}
#main,canvas{
  border: 2px black;
  margin-top: 0px;
  margin: auto;
  margin-bottom: 2px;
} 
#canvas{
  width: 60%;
  margin: auto;
  height: 620px;
  border: black;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 30px;
   /* Add your image URL here 
  background-image: url('1234.jpg'); 

  /* Make the background cover the entire page */
  background-size: cover;

  /* Prevent the image from repeating */
  background-repeat: no-repeat;

  /* Center the image */
  background-position: center;

  /* Optional: fix the image on scroll */
  background-attachment: fixed;
  
}
#form-body{
  width: 300px;
  height: 443px;
  border: 1px solid black;
  margin: auto;
  margin-top: 180px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.text-center{
  padding-top: 20px;
  font-size: 20px;
}
body {
      /* Replace the URL with your image path */
      background-image: url('/static/1234.jpg'); 
      background-repeat: no-repeat;   /* Prevent tiling */
      background-size: cover;         /* Make it cover the whole body */
      background-position: center;    /* Center the image */
      
  }