<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="/static/style.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    #form-body{
      height: 450px;
      margin-top: 186px;
    }

  </style>
</head>
<body>
  <div id="main">
    <div id="canvas">
      <div id="form-body">
      <h1>Login</h1>
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="username" class="form-label"><b>Username</b></label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"><b>Password</b></label>
          <input type="password" class="form-control" id="password" name="password">
          </div>
          <div>
          {% if error %}
          <p style="color:red;">{{ error }}</p>
          {% endif %}
          </div>
          <div class="text-center">
          <input type="submit" class="btn btn-info btn-lg" value="Login"><br>
          <h5><b>New user?</b> <a href="/register">Register</a></h5>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>