<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Summaryt</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">{{booker.username}}'s Summary</span>
    </div>
  </nav>

  <div class="container">
    <h3 class="text-center mb-4 text-primary">Available Spots per Lot</h3>
    
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <img src="/static/user_summary.png" alt="Bar chart of available spots" class="img-fluid">
    </div>
  </div>

</body>
</html>
